@model Vidly.Models.Customer
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@*Ime akcije i controllera
    forma je kao kontenjer u koji mozemo dodati dosta elemenata
    HTML beginform renderira samo <form> tag na ne zatvara ga... za zatvoriti ga moramo koristiti using
    ova metoda vraca dispose-able objekt
    svaki element stavljamo u div class="form-group""
    svakom inputu dajemo "form-control" klasu*@


@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DateOfBirth)
        @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter) Subscribed to Newsletter?
        </label>
    </div>
}